.container{
  display: flex;
  flex-direction: column;

}

.triangle {
  width: 0;
  height: 0;
  border-left: 0vw solid transparent;
  border-right: 130vw solid transparent;
  border-bottom: 45vh solid #fff;
  position: absolute;
  top:-25px;
  right:-10px;
  z-index: 99;
  transform: rotate(180deg);
  opacity:0.9;
  min-height: 500px;
}

.slogan{
  margin-top: -40px;
  font-weight: bold;
  font-size: 3.5rem;
  font-family: var(--font-lavishly_yours);
  line-height: 50px;
}

.title{
  font-weight: bold;
  font-size: 3.5rem;
  color:#fff;
  text-align: center;
}

.titleContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top:60vh;
  left:35vw;
  z-index: 999;
}

.arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 60px solid #00abab;
  opacity: 0;
  animation: appear 1.5s infinite;
}

.arrow:nth-child(1) { animation-delay: 0s; }
.arrow:nth-child(2) { animation-delay: 0.3s; }
.arrow:nth-child(3) { animation-delay: 0.6s; }

@media (max-width: 1366px){
  .title{
    font-size: 3rem;
  }
 
  .slogan{
    font-size: 3rem;
    margin-top: -50px;
  }
  .titleContainer{
    left:30vw
  }
}


@media (max-width: 1080px){
  .title{
    font-size: 2rem;
  }
 
  .slogan{
    font-size: 2rem;
    margin-top: -50px;
    line-height: 30px;
  }
}

@media (max-width: 720px){
  .title{
    font-size: 1.7rem;
  }
 
  .slogan{
    font-size: 1.7rem;
    margin-top: -50px;
  }
  .titleContainer{
    left:16vw
  }
  .logoContainer{
    margin-top: -50px;
  }
  
.arrow {
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 50px solid #00abab;

}

.arrows {
  margin-top: 30px;
}

}

@keyframes appear {
  0% { opacity: 0; transform: translateY(-10px); }
  50% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(10px); }
}